@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #a8a29e;
  }

  .dark .scrollbar::-webkit-scrollbar-track {
    background: #333;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #555;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    background: #555;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  .chat > :nth-child(even) {
    max-width: 70%;
  }
}
